<%- include("partials/header"); -%>
<!-- Importing Header file -->
<!-- Linking stylesheets and javascript -->
<link rel="stylesheet" href="/css/create_style.css">
<img class="create_team_logo" src="/images/add.png" alt="">
<!-- Form to create a new team -->
<form class="inputForm" action="/<%= userId %>/createTeam" method="post">
  <p class="create_team_msg">Enter Details Below to create a new team:</p>
  <input type="text" class="form-control" id="teamNameInput" name="teamName" placeholder="Team Name">
  <button class="button_design btn btn-primary" type="submit" name="submitButton">CREATE</button>
</form>
</body>
<!-- Passing user ID from the server -->
<script type="text/javascript">
  const userID = "<%= userId %>";
</script>

</html>
