<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TeamCall App</title>
  <!-- Linking stylesheets and javascript -->
  <link rel="icon" href="/images/favicon.ico">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>

<body class="homepageBody">
  <h1 class="welcomeHeading">Hello!</h1>
  <h3 class="welcomeSubheading">Welcome to TeamCall</h3>
  <!-- Checking any login errors from the server -->
  <% if(loginStatus != ''){%>
  <div class="loginStatusMessage">
    <p><%= loginStatus %></p>
  </div>
  <% } %>
  <div class="container">
    <!-- Login Form -->
    <form class="inputForm" action="/" method="post">
      <p class="loginMessage">Please Login to Continue:</p>
      <input type="email" class="topSpaced form-control" id="emailInput" name="emailID" placeholder="Email ID">
      <input type="password" class="topSpaced form-control" id="passwordInput" name="password" placeholder="Password">
      <button class="sbutton" type="submit" name="submitButton">GO</button>
    </form>
  </div>
  <!-- New user message -->
  <p class="registerMessage">Not a User? <a class="registerLink" href="/register">Register Here</a></p>
</body>
<!-- Linking custom javascript -->
<script type="text/javascript" src="/js/functions.js"></script>

</html>
