<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body class="homepageBody">
    <h1 class="welcomeHeading">Hello!</h1>
    <h3 class="welcomeSubheading">Welcome to TeamCall</h3>
    <div class="container">
      <form class="inputForm" action="/" method="post">
        <label for="name">Please Enter Your Name to Continue:</label>
        <input id= "name" type="text" name="username" placeholder="Name" required>
        <button class="sbutton" type="submit" name="submitButton">GO</button>
      </form>
    </div>
  </body>
  <script type="text/javascript" src="/js/index.js"></script>
</html>
