@media only screen and (min-width: 600px) {
  video{
    margin-left: 4.5vw;
    border: none;
    border-radius: 20px;
    background-color: black;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
    height: 30vw;
    width: 40vw;
  }
  .left-controls{
    background-color: #666bb3;
    background-color: rgba(255, 255, 255, 0.40);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    padding-top: 12vh;
    padding-left: 1%;
    width: 6%;
  }
  .video-frame {
    padding-top: 20vh;
    width:94%;
  }
  .controls{
    border: none;
    border-radius: 10px;
    background-color: #464EB8;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    margin-bottom: 2vh;
    width: 4vw;
    height: 4vw;
  }
  .disconnect-button{
    background-color: #D30000;
    background-image: url("/images/call.png");
    position: relative;
    top: 42vh;
  }
}
@media only screen and (max-width: 600px) {
  video{
    margin-left: 20vw;
    margin-bottom: 5vh;
    border: none;
    border-radius: 20px;
    background-color: black;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
    height: 34.5vw;
    width: 46vw;
  }
  .left-controls{
    background-color: #666bb3;
    background-color: rgba(255, 255, 255, 0.40);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    padding-top: 12vh;
    padding-left: 1%;
    width: 10%;
  }
  .video-frame {
    padding-top: 20vh;
    width:90%;
  }
  .controls{
    border: none;
    border-radius: 10px;
    background-color: #464EB8;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    margin-bottom: 2vh;
    width: 8vw;
    height: 8vw;
  }
  .disconnect-button{
    background-color: #D30000;
    background-image: url("/images/call.png");
    position: relative;
    top: 46vh;
  }
}

body{
  margin:0;
  background-color: #7B83EB;
  font-family: 'Montserrat', sans-serif;
}
.column {
  box-sizing: border-box;
  float: left;
  height: 100vh; /* Should be removed. Only for demonstration */
}
.main-screen:after {
  content: "";
  display: table;
  clear: both;
}
.camera-button{
  background-image: url("/images/videocam.png");
}
.mic-button{
  background-image: url("/images/mic_none.png");
}
.invite-button{
  background-image: url("/images/person_add.png");
  background-size: 60%;
}
.peerVideo{
  display: none;
}
.userVideo{
  margin: 0 0 0 25vw;
}
