/* CSS FOR CALL ROOM PAGE */
@media only screen and (min-width: 700px) {
  .video-frame {
    padding-top: 12vh;
    width: 78%;
  }

  .live-chat {
    border: 1px solid #0D146D;
    border-radius: 20px;
    background-color: white;
    height: 80vh;
    width: 22%;
    margin-top: 9vh;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
  }

  .copy_button {
    background-color: #464EB8 !important;
    width: 9vw;
  }

  #video-grid {
    display: grid;
    grid-template-columns: repeat(4, 15vw);
    grid-auto-rows: 15vw;
    grid-gap: 2vw;
    margin-left: 10vw;
  }

  .open-chat-video {
    margin-left: 8vw !important;
  }
}

@media only screen and (max-width: 700px) {
  .video-frame {
    padding-top: 12vh;
    width: 100vw;
  }

  .live-chat {
    border: 1px solid #0D146D;
    border-radius: 20px;
    background-color: white;
    height: 74vh;
    width: 80vw;
    margin-top: 12vh;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
  }

  .copy_button {
    background-color: #464EB8 !important;
    width: 15vw;
  }

  #video-grid {
    display: grid;
    grid-template-columns: repeat(2, 33vw);
    grid-auto-rows: 33vw;
    grid-gap: 2vw;
    margin-left: 34vw;
  }

  .open-chat-video {
    width: 10vw !important;
    visibility: hidden;
  }
}

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #464EB8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0D146D;
}

body {
  margin: 0;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}

.column {
  box-sizing: border-box;
  float: left;
}

.main-screen:after {
  content: "";
  display: table;
  clear: both;
}

input:focus {
  outline: none !important;
  box-shadow: none !important;
}

button:focus {
  outline: none !important;
  box-shadow: none !important;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: none;
  border-radius: 20px;
  background-color: black;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
}

.hidden {
  display: none;
}

.controls {
  border: none;
  border-radius: 10px;
  background-color: #464EB8;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  width: 8vh;
  height: 8vh;
  margin-left: 1vw;
}

.bottom-controls {
  background-color: #C1C5F7;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 0;
  padding: 1vh;
  width: 100vw;
  text-align: center;
}

.camera-button {
  background-image: url("/images/videocam.png");
}

.mic-button {
  background-image: url("/images/mic.png");
}

.invite-button {
  background-image: url("/images/person_add.png");
  background-size: 60%;
}

.chat-button {
  background-image: url("/images/chat.png");
  background-size: 60%;
}

.disconnect-button {
  background-color: #D30000;
  background-image: url("/images/call.png");
}

.link {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 0.5vw;
  font-size: 2.4vh;
}

.chat-heading {
  background-color: #0D146D;
  color: white;
  text-align: center;
  width: 100%;
  font-size: 3.5vh;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#copiedSuccess {
  color: green;
  margin-right: 2vw;
}

.chat-window {
  height: 82%;
  padding-left: 2vw;
  padding-right: 2vw;
  overflow: auto;
}

.messageForm {
  margin-left: 2vw;
  margin-right: 2vw;
}

#sendMessage_button {
  background-color: #464EB8;
  color: white;
}

#sendMessage_button:hover {
  background-color: #7B83EB;
}

.chat-from {
  font-size: 2.2vh;
  font-weight: bold;
  margin-bottom: 0;
  margin-left: 0.5vw;
  text-align: left;
}

.from-self {
  font-size: 2.2vh;
  font-weight: bold;
  margin-bottom: 0;
  margin-right: 0.5vw;
  text-align: right;
}

.chat-message {
  background-color: #0D146D;
  border-radius: 20px;
  color: white;
  margin-top: 0;
  text-align: left;
  padding: 0.5vw;
  padding-left: 1vw;
  padding-right: 1vw;
  word-wrap: break-word;
}

.self-message {
  text-align: right;
  background-color: #464EB8;
  border-radius: 20px;
  color: white;
  margin-top: 0;
  text-align: right;
  padding: 0.5vw 1vw;
  word-wrap: break-word;
}
