h3{
  margin-top: 10vh;
}
label{
  color: white;
  font-size: 3.6vh;
}
input{
  color: white;
}
lottie-player {
    margin: 0 auto;
    margin-top: 4vh;
}
.homepageBody{
  background-color: #464EB8;
  font-family: 'Montserrat', sans-serif;
}
.templateBody{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}
.container{
  background-color: #666bb3;
  background-color: rgba(255, 255, 255, 0.20);
  border-radius: 10px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  height: 39vh;
  width: 42vw;
}
.welcomeHeading{
  color: white;
  font-size: 20.8vh;
  margin-bottom: 1vh;
  text-align: center;
}
.welcomeSubheading{
  color: white;
  margin: 0 0 6vh 0;
  text-align: center;
  font-size: 8vh;
}
.inputForm{
  padding: 3.5vw;
}
.nameInput{
  font-size: 3vh !important;
}
.sbutton{
  background-color: #3c45a3;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
  color: white;
  display: block;
  font-size: 3.9vh;
  height: 6.8vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.2vh;
  width: 14vh;
}
button:hover{
  background-color: #464EB8;
}
button:focus {
  box-shadow: none;
  outline: none!important;
}
.homeConentContainer{
  text-align: center;
  margin-left: 2vw;
}
.homeContent{
  display: inline-block;
  text-align: left;
}
.taskQuery{
  color: #7B83EB;
  font-size: 5vh;
  font-weight: bold;
  margin-top: -6vh;
}
.buttonDesign{
  background-color: #3c45a3;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 3.6vh;
  margin-top: 1vh;
  padding: 2.1vh;
  width: 35vh;
}
.spaced-left{
  margin-left: 16vw;
}
.spaced-top{
  margin-top: 7vh;
}
.spaced-bottom{
  margin-bottom: 5vh;
}
.joinContentContainer{
  text-align: center;
}
.joinContent{
  padding: 0 28vw 0 28vw;
}
.connectImg{
  height: 30vh;
  margin-top: 18vh;
  width: 30vh;
  margin-bottom: 3vh;
}
#linkInput{
  border: 1px solid #7B83EB;
  border-radius: 10px;
  color: #7B83EB;
  padding: 0.8vh;
  width: 45vw;
  height: 8vh;
  text-decoration: underline;
  margin-top: 0;
}
