@media only screen and (min-width: 700px) {
  .userVideo{
    height: 15vw;
    width: 20vw;
    margin-left: 5vw;
    margin-right: 2vw;
  }
  .peerVideo{
    height: 33vw;
    width: 44vw;
  }
  .centered{
    margin-top: 8vw;
    margin-left: 40vw;
  }
  .video-frame {
    padding-top: 12vh;
    width:78%;
  }
  .live-chat{
    border-left: 1px solid #0D146D;
    background-color: white;
    height: 100vh;
    width: 22%;
    padding-top: 9vh;
  }
  .messageInput{
    border: 1px solid #464EB8;
    border-radius: 10px;
    height: 8vh;
    margin-left: 2vw;
    padding: 0.5vw;
    font-size: 1.2vw;
    width: 65%;
  }
  .open-chat-controls{
    width: 78vw !important;
  }
}
@media only screen and (max-width: 700px) {
  .userVideo{
    height: 33vw;
    width: 44vw;
    margin-left: 30vw;
  }
  .peerVideo{
    height: 33vw;
    width: 44vw;
    margin-left: 30vw;
  }
  .centered{
    margin-top: 20vw;
  }
  .video-frame {
    padding-top: 12vh;
    width:60%;
  }
  .live-chat{
    background-color: white;
    border-left: 1px solid #0D146D;
    height: 100vh;
    width: 40%;
    padding-top: 9vh;
  }
  .messageInput{
    border: 1px solid #464EB8;
    border-radius: 10px;
    height: 8vh;
    margin-left: 1vw;
    padding: 0.5vw;
    font-size: 2.2vw;
  }
  .open-chat-video{
    margin-left: 8vw;
  }
  .open-chat-controls{
    width: 60vw !important;
  }
}
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #464EB8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0D146D;
}
body{
  margin:0;
  background-color: #7B83EB;
  font-family: 'Montserrat', sans-serif;
}
.column {
  box-sizing: border-box;
  float: left;
}
.main-screen:after {
  content: "";
  display: table;
  clear: both;
}
input:focus{
  outline: none;
  box-shadow: none;
}
button:focus {
  outline: none;
  box-shadow: none;
}
video{
  border: none;
  border-radius: 20px;
  background-color: black;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
}
.hidden{
  display: none;
}
.controls{
  border: none;
  border-radius: 10px;
  background-color: #464EB8;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  width: 8vh;
  height: 8vh;
  margin-left: 1vw;
}
.bottom-controls{
  background-color: #666bb3;
  background-color: rgba(255, 255, 255, 0.40);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 0;
  padding: 1vh;
  width: 100vw;
  text-align: center;
}
.camera-button{
  background-image: url("/images/videocam.png");
}
.mic-button{
  background-image: url("/images/mic.png");
}
.invite-button{
  background-image: url("/images/person_add.png");
  background-size: 60%;
}
.chat-button{
  background-image: url("/images/chat.png");
  background-size: 60%;
}
.disconnect-button{
  background-color: #D30000;
  background-image: url("/images/call.png");
}
.link{
  text-decoration: underline;
  text-decoration-thickness: 1px;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 0.5vw;
  font-size: 2.4vh;
}
.chat-heading{
  background-color: #0D146D;
  color: white;
  text-align: center;
  width: 100%;
}
.form-inline{
  position: absolute;
  bottom: 3vh;
}
.sendMessage{
  background-image: url("/images/send.png");
  margin-left: 0.5vw;
}
#copyLinkButton{
  background-color: #464EB8;
  width:9vw;
}
#copiedSuccess{
  color: green;
  margin-right: 2vw;
}
.chat-window {
  height: 82%;
  padding-left: 2vw;
  padding-right: 2vw;
  overflow: auto;
}
.chat-from{
  font-size: 2.2vh;
  font-weight: bold;
  margin-bottom: 0;
  margin-left: 0.5vw;
  text-align: left;
}
.from-self{
  font-size: 2.2vh;
  font-weight: bold;
  margin-bottom: 0;
  margin-right: 0.5vw;
  text-align: right;
}
.chat-message{
  background-color: #0D146D;
  border-radius: 20px;
  color: white;
  margin-top: 0;
  text-align: left;
  padding: 0.5vw;
  padding-left: 1vw;
  padding-right: 1vw;
}
.self-message{
  text-align: right;
  background-color: #464EB8;
  border-radius: 20px;
  color: white;
  margin-top: 0;
  text-align: right;
  padding: 0.5vw 1vw;
}
